@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode {
  background-color: #22273e;
  color: #fff;
}

.light-mode {
  background-color: #fff;
  color: #000;
}

.changing {
  width: 40rem;
}

.apply {
  width: 25rem;
}

.example {
  margin-right: 5rem;
}

.image-details-container {
  width: 50rem;
}

.cart-summary {
  width: 25rem;
}

.shipped {
  height: 5rem;
}
